.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #219C90;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #E9B824;
  font-size: 8rem;
  color: #D83F31;
}

h2 {
  
  color: #D83F31;
  max-width: fit-content;
  padding: 15px;
  background-color: #E9B824;
  border-radius: 50%;
  font-family:'Lobster', cursive;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  cursor: pointer;
}

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* Standard syntax */
}

p {
  font-size: 2rem;
  color: #EE9322;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 600px) {
  
  h2{
    margin-top: 30px;
  }
  .container {
    width: 100%;
    height: 100vh;
    margin: auto;
    text-align: center;
  }
}
